* {
    box-sizing: border-box;
}

body {
    margin: 0;
    width: 100%;
    height: 100vh;
}

.container {
    display: grid;
}

.tile {
    padding: 10px;
    border: 1px solid black
}

.active {
    background-color: black;
}